.container {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    border: gray solid 5px;
    opacity: 0.9;
    transition: all 500ms ease;
    box-shadow: inset white 0 0 5px;
}


.container:hover {
    opacity: 1;
    box-shadow: 0 0 20px black;
    filter: contrast(120%);
}

.container a {
    text-decoration: none;
    color: gray;
}

.btnDelete {
    align-self: self-end;
    border: none;
    background: none;
    transition: all 500ms ease;
    border-radius: 5px;
    color: white;
}

.btnDelete:hover {
    background: red;
    border: 1px solid black;
}

.name {
    font-variant: small-caps;
    letter-spacing: -1px;
    transition: all 500ms ease; 
}

.name:hover {
    transform: scale(1.05);
    color: white;
}


.region, .words {
    font-style: italic;
}

.words {

}